.active-route {
  background: rgba(47, 115, 255, 1);
  background: linear-gradient(
    150deg,
    rgba(47, 115, 255, 1) 0%,
    rgba(99, 162, 255, 1) 30%,
    rgba(150, 198, 250, 1) 70%,
    rgba(196, 228, 255, 1) 100%
  );
  color: rgba(255, 255, 255, 1);
}

.text {
  color: rgba(0, 0, 0, 1);
}
