.login-container {
    direction: rtl;
    max-width: 320px;
    margin: 100px auto;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-container input {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid rgba(170, 170, 170, 1);
}

.login-container button {
    padding: 0.5rem;
    background-color: rgba(100, 153, 255, 1);
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}