.active {
  background: rgba(255, 108, 95, 1);
}

.closed {
  background: rgba(107, 182, 60, 0.78);
}

.maintenance {
  background: rgba(144, 110, 165, 0.902);
}

.maav {
  background: rgba(152, 197, 229, 0.816);
}

.elbit {
  background: rgba(239, 224, 65, 0.71);
}

.waiting {
  background: rgba(247, 143, 23, 0.545);
}

.permit {
  background: rgba(65, 200, 166, 0.437);
}

.permit {
  background: rgba(65, 200, 166, 0.437);
}

.permit {
  background: rgba(65, 200, 166, 0.437);
}

.open {
    background: rgb(38, 248, 49);
}

.resolved {
  background: rgba(92, 92, 92, 0.545);
}

.expired {
  background: rgba(255, 108, 95, 1);
}