.active {
  background: rgb(255, 108, 95);
}

.closed {
  background: #6bb63cc7;
}

.maintenance {
  background: #906ea5e6;
}

.maav {
  background: #98c5e5d0;
}

.elbit {
  background: #efe041b5;
}

.waiting {
  background: #f78f178b;
}
